* {
  box-sizing: border-box;
}

body {
  font-family: "Cinzel", serif;
  color: rgb(200, 78, 34);
  margin: 0;
  background-image: url("img/balogovicBg.jpg");
  min-height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.countdown-container {
  display: flex;
}

h1 {
  font-size: 4rem;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}

.countdown-label {
  font-size: 2rem;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .big-text {
    font-size: 3rem;
    margin: 0 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .countdown-label {
    font-size: 1.5rem;
    padding: 8px;
  }
}
@media screen and (max-width: 680px) {
  .big-text {
    font-size: 2rem;
    margin: 0 0.7rem;
  }

  h1 {
    font-size: 1rem;
  }

  .countdown-label {
    font-size: 1rem;
    padding: 6px;
  }
}
